# https://docs.redhat.com/en/documentation/openshift_container_platform/4.18/html/networking/load-balancing-with-metallb#nw-metallb-bgp-peer-vrf_configure-metallb-bgp-peers
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: static
  labels:
    app: static
    app.kubernetes.io/component: static
    app.kubernetes.io/instance: static
spec:
  selector:
    matchLabels:
      app: static
  template:
    metadata:
      labels:
        app: static
    spec:
      containers:
      - name: static
        image: quay.io/dbewley/static:latest
        ports:
          - containerPort: 8080
            protocol: TCP
          - containerPort: 8443
            protocol: TCP
        resources: {}