---
apiVersion: v1
kind: Service
metadata:
  name: static
  labels:
    app: static
    app.kubernetes.io/component: static
    app.kubernetes.io/instance: static
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8443
  selector:
    app: static
  type: LoadBalancer